<link rel="stylesheet" href="/css/app.css">
<link type="text/css" media="print" rel="stylesheet" href="https://cdn.jotfor.ms/css/printForm.css?3.3.24006" />
<link type="text/css" rel="stylesheet" href="https://cdn.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?" />


<form action="/editar-perfil" method="POST" class="jotform-form" enctype="multipart/form-data">
    <div role="main" class="form-all">
        <div class="formLogoWrapper Center">
            <a href="/"><img class="formLogoImg" src="/img/logo2.png" height="140" width="198"></a> 
        </div>
        {{#if mensajes}}
            <div class="alertas">
                {{#mostrarAlertas mensajes}}
                {{/mostrarAlertas}}
            </div>
        {{/if}}
        <ul class="form-section page-section">
            <li class="form-input-wide">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 class="form-header">EDITAR DATOS DE USUARIO</h1>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required">
                <label class="form-label form-label-top form-label-auto">Nombre
                    <span class="form-required">*</span>
                </label>
                <div class="form-input-wide jf-required">
                    <div>
                        <span class="form-sub-label-container">
                            <input type="text" value="{{usuario.nombre}}" name="nombre" class="form-textbox" autocomplete="off">
                        </span>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required">
                <label class="form-label form-label-top form-label-auto">
                    Email
                    <span class="form-required">*</span>
                </label>
                <div class="form-input-wide jf-required">
                    <div>
                        <span class="form-sub-label-container">
                            <input type="text" value="{{usuario.email}}" name="email" class="form-textbox" autocomplete="off">
                            
                        </span>
                    </div>
                </div>
            </li>
            <li class="form-line jf-required">
                <label class="form-label form-label-top form-label-auto">
                    Password
                </label>
                <div class="form-input-wide jf-required">
                    <div>
                        <span class="form-sub-label-container">
                            <input type="password" name="password" class="form-textbox" autocomplete="off">
                            
                        </span>
                    </div>
                </div>
            </li>

            <li class="form-line jf-required">
                <label class="form-label form-label-top form-label-auto">
                    Imagen
                </label>
                <div class="form-input-wide jf-required">
                    <div>
                        <span class="form-sub-label-container">
                            <input type="file" name="imagen" class="form-textbox" autocomplete="off">
                            
                        </span>
                    </div>
                </div>
            </li>
            <img src="/uploads/perfiles/{{usuario.imagen}}">
            
            <div class="form-input-wide">
                <div class="form-buttons-wrapper form-buttons-auto jsTest-button-wrapperField"> 
                    <button type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField">
                        Guardar Cambios
                    </button>
                </div>
            </div>
        </ul>
    </div>
</form>