<!DOCTYPE HTML>
<html>

<head>
  <title>Spectral by HTML5 UP</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/index.css" />
</head>

<body class="landing is-preload">
  <!-- Page Wrapper -->
  <div id="page-wrapper">
    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <h2>REGISTRO Y CONTROL DE VIDEOJUEGOS</h2>
        <p>En esta web podrás llevar el registro y control de los videojuegos
          <br />De manera fácil y organizada<br />
        <ul class="actions special">
          <li><a href="/iniciar-sesion" class="button primary">INGRESAR</a></li>
        </ul>
      </div>
      <a href="#intro" class="more scrolly">Algo más</a>
    </section>

    <section id="intro" class="wrapper alt style2">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 intro-text mb-5 mb-lg-0">
            <h2 class="sp-title">Datos de videojuegos</h2>
            <p class="p-subtitle">Empieza de una forma creativa y sencilla a gestionar, organizar, registrar y controlar toda la
              información básica de los videojuegos que estén disponibles en tu tienda. </p>
          </div>
          <div class="col-lg-5 pt-4">
            <img src="img/gamer.png" alt=""><br>
          </div>
        </div>
      </div>
    </section>

    <!-- CTA -->
    <section id="cta" class="wrapper style4">
      <div class="inner">
        <header>
          <h2>¡EMPIEZA YA!</h2>
          <p>Inicia sesíon o registrate para gestionar los videojuegos de tu tienda</p>
        </header>
        <ul class="actions stacked">
          <li><a href="#" class="button fit primary">Iniciar Sesión</a></li>
          <li><a href="/crear-cuenta" class="button fit">Registrarme</a></li>
        </ul>
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; SISTEMAS DISTRIBUIDOS </li>
        <li>Alumno: Faiber Adolfo Sanchez Saavedra</li>
      </ul>
    </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>