<link rel="stylesheet" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<section class="jumbotron">
  <h1>BIENVENIDO</h1>
  <p>Empieza a gestionar</p>
  <a href="/panel" class="button">Ir al panel</a>
</section>