<title>{{ nombrePagina }}</title>
<link rel="stylesheet" href="css/about.css">
<header>
    <div class="container text-center">


        <div class="logo">
            <h1><b>GUIA DE CATEGORIAS - CLASIFICACIONES</b></h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center"><strong>TODOS</strong></h4>
            <hr>
            <div class="profile-card-4 text-center"><img src="/img/profile-4.PNG" class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">

                    </div>
                    <div class="profile-description">El contenido por lo general es apto para todas las edades. Puede
                        que contenga una cantidad mínima de violencia de caricatura, de fantasía o ligera, o uso poco
                        frecuente de lenguaje moderado.</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong>TODOS + 10</strong></h4>
            <hr>
            <div class="profile-card-4 text-center"><img src="/img/profile-1.PNG" class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">

                    </div>
                    <div class="profile-description">El contenido por lo general es apto para personas de 10 años o más.
                        Puede que contenga más violencia de caricatura, de fantasía o ligera, lenguaje moderado o temas
                        mínimamente provocativos.</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong>ADOLESCENTES</strong></h4>
            <hr>
            <div class="profile-card-4 text-center"><img src="/img/profile-2.PNG" class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">

                    </div>
                    <div class="profile-description">El contenido por lo general es apto para personas de 13 años o más.
                        Puede que contenga violencia, temas insinuantes, humor grosero, mínima cantidad de sangre,
                        apuestas simuladas o uso poco frecuente de lenguaje fuerte.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h4 class="text-center"><strong>MADURO + 17</strong></h4>
            <hr>
            <div class="profile-card-4 text-center"><img src="/img/profile-3.PNG" class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">

                    </div>
                    <div class="profile-description">El contenido por lo general es apto para personas de 17 años o
                        más. Puede que contenga violencia intensa, derramamiento de sangre, contenido sexual o
                        lenguaje fuerte.</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong>ADULTOS UNICAMENTE + 18</strong></h4>
            <hr>
            <div class="profile-card-4 text-center"><img src="/img/profile-5.PNG" class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">

                    </div>
                    <div class="profile-description">El contenido es apto sólo para adultos de 18 años o más. Puede
                        que incluya escenas prolongadas de violencia intensa, contenido sexual gráfico o apuestas
                        con moneda real.</div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <h4 class="text-center"><strong>CLASIFICACIÓN PENDIENTE</strong></h4>
            <hr>
            <div class="profile-card-4 text-center"><img src="/img/profile-6.PNG" class="img img-responsive">
                <div class="profile-content">
                    <div class="profile-name">

                    </div>
                    <div class="profile-description">No se ha asignado una calificación final de ESRB. Solo aparece
                        en la publicidad, marketing y materiales promocionales relacionados con un juego físico (por
                        ejemplo, el que viene cerrado en caja) que se espera que tenga una clasificación de ESRB y
                        debe ser sustituida por una clasificación de juego una vez que se haya asignado.</div>
                </div>
            </div>
        </div>

    </div>
</div>